{% extends 'base.html.twig' %}

{% block title %}Blog about{% endblock %}

{% block body %}

<div class="example-wrapper">
<h2>About Me</h2>
    <section>
    This blog is made for a school project. All of the entries are fake. I am a full stack developer student at Helsinki Business College. 
    I know the following languages: 
    <ul>
    {% for language in languages %}
    <li>{{language}}</li>
    {% endfor %}
    </ul>
    </section>
</div>
{% endblock %}