{% extends "base.html.twig" %}
{% block body %}
<form action="">
<input type="text" name="fruitname" value={{fruit.fruitname}}/>
<input type="text" name="color" value={{fruit.color}}/>
<input type="text" name="taste" value={{fruit.taste}}/>
</form>


{% endblock %}